<h2>Sign Up</h2>
<form method="POST">
  {% csrf_token %}
  <div>
    <label for="username">Username</label>
    <input type="text" name="username" />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" />
  </div>
  <div>
    <label for="login">Netflix login</label>
    <input type="text" name="login" />
  </div>
  <div>
    <label for="access_pass">Netflix password</label>
    <input type="password" name="access_pass" />
  </div>
  <div>
    <label for="profile">Netflix profile</label>
    <input type="text" name="profile" />
  </div>
  <button type="submit">Sign Up</button>
</form>
